VITE_MYPAGE_API_BASE_URL=http://localhost:18082
VITE_USE_MOCK=true

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=

VITE_CLIENT_VERSION=local
VITE_CLIENT_BUILD_TIME=