---
import '../styles/tailwind.css';
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="min-h-screen w-full m-0 bg-slate-950 text-slate-900">
		<slot />
	</body>
</html>
