.idea/
system/.idea/
aws-lambda/.idea/
youtube-monitor/.idea/
youtube-monitor/.env
system/.DS_Store
system/.gcloudignore
youtube-monitor/.next/
youtube-monitor/.env
youtube-monitor/node_modules/
youtube-monitor/out/
youtube-monitor/public/audio/lofigirl/*
app-engine/.DS_Store
app-engine/.gcloudignore
system/app.modules.exe
system/main.exe
system/main
system/.env
system/aws-lambda/main
system/aws-lambda/main.zip



youtube-monitor/.DS_Store
