#clock
  height: 130px
  //height: 38px + 48px
  width: 500px
  background-color: aquamarine
  position: absolute
  top: 0
  right: 0

.dateString
  font-size: 2rem
  text-align: center

.timeString
  font-size: 3rem
  text-align: center
