#clock
  height: 200px
  width: 500px
  background-color: #ffffff
  position: absolute
  top: 0
  right: 0
  color: #36479f

.dateString
  font-size: 1.5rem
  text-align: center

.timeString
  font-size: 2rem
  text-align: center
  font-weight: bold
