#roomLayout
  position: relative
  top: 0
  left: 0
  margin: auto
  border: solid 6px #666666

.seat
  position: absolute
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.partition
  position: absolute
  background-color: #647a7f

.seatNum
  margin: 0
  font-size: 1.2rem
  color: #414141

.userDisplayName
  margin: 0
  font-size: 1.2rem
  overflow: hidden
  color: #202020
