
#standingRoom
  height: 400px
  width: 400px
  background-color: rgba(239, 255, 248, 0.829)
  position: absolute
  top: 150px
  right: 0
  font-size: 1rem
  text-align: center
  color: #383838

.preTitle
  padding-top: 0.2rem

.title
  margin: 0 auto

.description
  margin: 0.1rem

.standingSeat
  border: solid black 3px
  width: 80%
  height: 3rem
  margin: 0.3rem auto
  text-overflow: ellipsis
  overflow: hidden
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.standingWorkName
  color: #24317e
  max-width: 100%
  text-overflow: ellipsis
  overflow: hidden

.standingUserDisplayName
  font-size: 1rem
  max-width: 100%
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

#numStandingWorkers
  font-size: 1.5rem
  font-weight: bold

.commandString
  background-color: #e7e7e7
  //border: solid black
  border-radius: 0.2rem
  padding: 0 0.4rem
