$base-bg-color: #ffeaf9

#timerTitle
  margin-block-start: 0.5rem
  margin-block-end: 0.5rem

#timer
  height: 1080px - 200px - 500px 
  width: 500px
  // background-color: $base-bg-color
  position: absolute
  bottom: 0
  right: 0
  font-size: 1rem
  text-align: center
  color: #000000


#remaining
  font-size: 2rem
  font-weight: bold

.studyMode
  background-color: #ff92bc

.breakMode
  background-color: #c2dfff