fetch consumer_quota|filter resource.project_id=='${project_id}'|{metric serviceruntime.googleapis.com/quota/rate/net_usage|filter metric.quota_metric=='youtube.googleapis.com/default'|map add [metric.limit_name: 'defaultPerDayPerProject']|map add [day: end().timestamp_to_string('%Y%m%d', 'America/Los_Angeles').string_to_int64]|group_by 1d,.sum|map add [current_day: end().timestamp_to_string('%Y%m%d', 'America/Los_Angeles').string_to_int64]|group_by [resource.project_id,resource.service,metric.quota_metric,metric.limit_name];metric serviceruntime.googleapis.com/quota/limit|filter metric.quota_metric=='youtube.googleapis.com/default'&&metric.limit_name=='defaultPerDayPerProject'|group_by [resource.project_id,resource.service,metric.quota_metric,metric.limit_name],.min}|ratio|window 1d|every 30s|condition gt(val(), ${threshold} '1')
