fetch consumer_quota|filter resource.project_id=='${project_id}'|{metric serviceruntime.googleapis.com/quota/rate/net_usage|filter metric.quota_metric=='youtube.googleapis.com/default'|map add [metric.limit_name: 'defaultPerMinutePerProject']|align delta_gauge(1m)|group_by [resource.project_id,resource.service,metric.quota_metric,metric.limit_name],sum(value.net_usage);metric serviceruntime.googleapis.com/quota/limit|filter metric.quota_metric=='youtube.googleapis.com/default'&&metric.limit_name=='defaultPerMinutePerProject'|group_by [resource.project_id,resource.service,metric.quota_metric,metric.limit_name],sliding(1m),.min}|ratio|every 30s|condition gt(val(), ${threshold} '1')
