.env
.next/
*.tsbuildinfo
node_modules/
out/
public/audio/*
public/chime/*
public/images/*
!public/images/menu_default.svg
!public/images/sample_profile.svg
*storybook.log
storybook-static/
doctor-storybook.log
